# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""
